<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Cacau</title>
</head>
<body>

    <form method="post" action="/dados">
        <label for="Nome">Nome</label>
        <input type="text" name="Nome" id="Nome" required/>

        <label for="Email">Email</label>
        <input type="email" name="Email" id="Email" required/>

        <label for="Idade">Idade</label>
        <input type="text" name="Idade" id="Idade"/>

        <input type="submit" value="Enviar" name="Enviar" id="Enviar"/>
        
    </form>
    
</body>
</html>